<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livrando</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css"> <!-- Caminho correto para o CSS -->
</head>
<body>

    
    <%- include('extras/header') %>

    <nav>
        <a href="#">Categorias</a>
        <a href="#">Principais Autores</a>
        <a href="#">Dicas de Livros</a>
        <a href="#">Livros em Alta</a>
        <a href="#">Livros por Idioma</a>
    </nav>

    <main>
        <div class="carousel">
            <button id="prevBtn">&lt;</button>
            <div class="book">
                <img id="bookCover" src="" alt="Capa do Livro">
                <div class="book-info">
                    <h2 id="bookTitle"></h2>
                    <h3>Sinopse</h3>
                    <p id="bookSynopsis"></p>
                    <button id="contactBtn">Entrar em contato</button>
                </div>
            </div>
            <button id="nextBtn">&gt;</button>
        </div>
    </main>

    <script>
        // Seu código JavaScript aqui
    </script>

</body>
</html>