/* gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a {
    color: inherit;  /* Herda a cor do texto ao invés de usar azul */
    text-decoration: none; /* Remove o sublinhado */
}

body {
    background-color: #f9f9f9;
    background-image: url("/images/books_wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:repeat-Y;
    padding-top: 80px;
    margin: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #9260AF;
    color: white;
    padding: 10px;
    text-align: center;
    position:fixed;
    z-index: 1000; 
    top: 0;
    left: 0;
    width: 100%; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: space-between;
}

form {
    display: flex;
    align-items: center;
    width: 500px;
    height: 30px;
    border-radius: 50px; /* Bordas arredondadas */
    overflow: hidden; /* Garante que o botão fique dentro */
    background-color: white; /* Cor de fundo unificada */
    border: 1px solid #ccc;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background: none; /* Remove o fundo individual */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

/* ids */
#texto-pesquisa {
    padding-left: 20px;
}

/* icones */
.icone-pesquisa {
    margin-right: 40px;
}

.icone-pesquisa:hover {
    width: 34px;
    height: 34px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.1);
    box-shadow: 0 4px 15px #9260AF;
}

.icone-pesquisa:hover .mensagem-pesquisa {
    display: block;  /* Mostra a mensagem */
}

.mensagem-pesquisa {
    display: none;
    position: absolute;
    top: 35px;  /* Ajusta a posição abaixo do ícone */
    left: 0;
    right: 5px;
    background-color: #9260AF;
    padding: 2px 2px;
    color: white;
    font-size: 14px;
}

.icone-coracao:hover {
    width: 34px;
    height: 34px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.1);
    box-shadow: 0 4px 15px #9260AF;
}

.icone-coracao:hover .mensagem-coracao {
    display: block;  /* Mostra a mensagem */
}

.icone-criar:hover {
    width: 34px;
    height: 34px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.1);
    box-shadow: 0 4px 15px #9260AF;
}

.icone-criar:hover {
    width: 34px;
    height: 34px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.1);
    box-shadow: 0 4px 15px #9260AF;
}

.icone-criar:hover .mensagem-criar {
    display: block;  /* Mostra a mensagem */
}

.icone-relogio:hover {
    width: 34px;
    height: 34px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.1);
    box-shadow: 0 4px 15px #9260AF;
}

.icone-relogio:hover .mensagem-relogio {
    display: block;  /* Mostra a mensagem */
}

.mensagem-relogio {
    display: none;
    position: absolute;
    top: 35px;  /* Ajusta a posição abaixo do ícone */
    left: 0;
    right: 5px;
    background-color: #9260AF;
    padding: 2px 2px;
    color: white;
    font-size: 14px;
}

.mensagem-coracao {
    display: none;
    position: absolute;
    top: 35px;  /* Ajusta a posição abaixo do ícone */
    left: 0;
    right: 5px;
    background-color: #9260AF;
    padding-right: 0;
    padding-top: 1px;
    padding-bottom: 0;
    padding-left: 0;
    color: white;
    font-size: 14px;
}



.mensagem-criar {
    display: none;
    position: absolute;
    top: 35px;  /* Ajusta a posição abaixo do ícone */
    left: 0;
    background-color: #9260AF;
    padding: 2px 2px;
    color: white;
    font-size: 14px;
}



.icone-chat:hover {
    width: 34px;
    height: 34px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.1);
    box-shadow: 0 4px 15px #9260AF;
}

.icone-chat:hover .mensagem-chat {
    display: block;  /* Mostra a mensagem */
}

.mensagem-chat {
    display: none;
    position: absolute;
    top: 35px;  /* Ajusta a posição abaixo do ícone */
    left: 0;
    background-color: #9260AF;
    padding: 2px 2px;
    color: white;
    font-size: 14px;
}

.icone-perfil:hover {
    width: 34px;
    height: 34px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.1);
    box-shadow: 0 4px 15px #9260AF;
}

.icone-perfil:hover .mensagem-perfil {
    display: block;  /* Mostra a mensagem */
}

.mensagem-perfil {
    display: none;
    position: absolute;
    top: 35px;  /* Ajusta a posição abaixo do ícone */
    left: 0;
    background-color: #9260AF;
    padding: 2px 2px;
    color: white;
    font-size: 14px;
}

.icones {
    display: flex;
    gap: 40px;
}

/* alguma coisa */
.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 5px 0;
}

.logo {
    font-family: 'Kenia'; 
    font-size: 64px;
    font-weight: 400;
    line-height: 92.07px;
    letter-spacing: -0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.linha-branca {
    width: 90%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    margin-top: 0;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'inter';
    padding: 5px;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: #9260AF;
    position: absolute;
    
    display: none;
}

ul li a:hover {
    background: #8555a1;
}

ul li:hover ul.dropdown {
    display: block;
}

.dropdown a {
    font-size: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}

input {
    padding: 5px;
    width: 500px;
    border-radius: 150px;
}

section {
    padding: 100px;
    align-items: center;
}

.livros-em-alta {
    padding-bottom: 0;
}

.autores {
    padding-top: 40px;
    padding-bottom: 10px;
}

h2 {
    margin-bottom: 42px;
    font-family: 'inter'; 
}

.carrossel {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    overflow-x:scroll;
    scroll-behavior: smooth;
    transition: transform 0.1s ease-in-out;
}

.carrossel::-webkit-scrollbar {
    display: none;
}
.livros, .autores-lista {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 52px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.livro, .autor {
    flex: 0 0 auto;
    width: 135px;
    text-align: center;
}

.autor-livro, .titulo-livro {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 2px;
}

.livro img{
    width: 100%;
    height: 215px;
    box-shadow: 7px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 9px;
}

.autor img {
    width: 120px; /* Defina um tamanho fixo ou ajuste conforme necessário */
    height: 120px;
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
    box-shadow: 7px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 9px;
}

.next, .prev {
    background-color: #ffffff;
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin-right: 8px;
}

.next:hover, .prev:hover {
    background-color: #e5e0e8;

}

.container {
    background-color: white;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

img:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.1);
    box-shadow: 0 4px 10px #d0cdd1
    
}