<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela incial</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kenia&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>

<header>
    <div class="topo">
        <div class="logo" onclick="window.location.href='/'">Livrando</div>
        
        <!-- Campo de Pesquisa -->
        <form action="/pesquisa" method="GET">
            <input id="texto-pesquisa" type="text" name="q" placeholder="Pesquise algo" value="<%= pesquisa || '' %>">
            <button type="submit">🔍</button>
        </form>

        <div class="icones">
            <div class="icone-criar">
                <svg width="34" height="34" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 28.6628C22.5446 28.6628 28.6607 22.5467 28.6607 15.0021C28.6607 7.45751 22.5446 1.34141 15 1.34141C7.45539 1.34141 1.33929 7.45751 1.33929 15.0021C1.33929 22.5467 7.45539 28.6628 15 28.6628Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15 2.68069C8.19506 2.68069 2.67857 8.19718 2.67857 15.0021C2.67857 21.807 8.19506 27.3235 15 27.3235C21.8049 27.3235 27.3214 21.807 27.3214 15.0021C27.3214 8.19718 21.8049 2.68069 15 2.68069ZM0 15.0021C0 6.71786 6.71574 0.00212097 15 0.00212097C23.2843 0.00212097 30 6.71786 30 15.0021C30 23.2864 23.2843 30.0021 15 30.0021C6.71574 30.0021 0 23.2864 0 15.0021ZM15 6.96641C15.8876 6.96641 16.6071 7.68596 16.6071 8.57355V13.395H21.4286C22.3161 13.395 23.0357 14.1145 23.0357 15.0021C23.0357 15.8897 22.3161 16.6093 21.4286 16.6093H16.6071V21.4307C16.6071 22.3183 15.8876 23.0378 15 23.0378C14.1124 23.0378 13.3929 22.3183 13.3929 21.4307V16.6093H8.57143C7.68384 16.6093 6.96429 15.8897 6.96429 15.0021C6.96429 14.1145 7.68384 13.395 8.57143 13.395H13.3929V8.57355C13.3929 7.68596 14.1124 6.96641 15 6.96641Z" fill="#9260AF" style="mix-blend-mode:darken"/>
                    </svg>
                <p class="mensagem-criar" id="mensagem-criar">Criar</p>
            </div>

            <div class="icone-relogio">
                <svg width="34" height="34" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.9993 28.6622C7.45511 28.6622 1.33929 22.5463 1.33929 15.0021C1.33929 7.45786 7.45511 1.34204 14.9993 1.34204C22.5435 1.34204 28.6595 7.45786 28.6595 15.0021C28.6595 22.5463 22.5435 28.6622 14.9993 28.6622Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9993 0.0027504C6.71544 0.0027504 0 6.71819 0 15.0021C0 23.286 6.71544 30.0015 14.9993 30.0015C23.2832 30.0015 29.9987 23.286 29.9987 15.0021C29.9987 6.71819 23.2832 0.0027504 14.9993 0.0027504ZM2.67857 15.0021C2.67857 8.19751 8.19476 2.68133 14.9993 2.68133C21.8038 2.68133 27.3202 8.19751 27.3202 15.0021C27.3202 21.8068 21.8038 27.3229 14.9993 27.3229C8.19476 27.3229 2.67857 21.8068 2.67857 15.0021ZM16.874 7.5017C16.874 6.46617 16.0345 5.6267 14.999 5.6267C13.9634 5.6267 13.124 6.46617 13.124 7.5017V15.0017C13.124 16.0372 13.9634 16.8767 14.999 16.8767H20.3561C21.3916 16.8767 22.2311 16.0372 22.2311 15.0017C22.2311 13.9662 21.3916 13.1267 20.3561 13.1267H16.874V7.5017Z" fill="#9260AF" style="mix-blend-mode:darken"/>
                    </svg>
                <p class="mensagem-relogio" id="mensagem-relogio">Histórico</p>    
            </div>

            <a href="/listas">
                <div class="icone-coracao">
                    <svg width="34" height="34" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.9831 24.5616L3.42314 13.8585C-2.87705 7.52343 6.31313 -4.74177 14.9831 5.18033C23.6531 -4.71284 32.9299 7.55236 26.5432 13.8585L14.9831 24.5616Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.54069 4.3657C2.36117 6.56551 1.84682 10.3532 4.35426 12.8955L14.9832 22.7365L25.6166 12.8914C28.1589 10.3649 27.6499 6.59067 25.4599 4.38955C24.3941 3.31821 22.9901 2.7007 21.441 2.81193C19.894 2.92302 17.997 3.77763 15.9998 6.05241C15.9885 6.06556 15.9769 6.07853 15.9651 6.0913C15.5176 6.57434 14.7911 6.65511 14.2519 6.30291C14.2006 6.26946 14.1512 6.23215 14.1041 6.19107L14.1004 6.18781C14.0476 6.14155 13.9993 6.09205 13.9555 6.03987C11.9599 3.76435 10.071 2.90877 8.53456 2.79526C6.99522 2.68156 5.6011 3.2954 4.54069 4.3657ZM14.9849 3.23937C12.9473 1.27512 10.81 0.277491 8.7319 0.123981C6.30653 -0.0551918 4.17126 0.932819 2.63789 2.48045C-0.364766 5.51108 -1.29826 11.0104 2.47349 14.803C2.48648 14.816 2.49972 14.8288 2.51322 14.8414L14.0562 25.5287C14.5233 25.9772 15.243 26.0239 15.7625 25.6513C15.7987 25.6253 15.8338 25.5973 15.8677 25.5675C15.8762 25.56 15.8846 25.5523 15.893 25.5445L27.453 14.8415C27.4635 14.8318 27.4738 14.8219 27.4841 14.8118C31.3121 11.0321 30.3739 5.53088 27.3587 2.50034C25.8202 0.953777 23.6784 -0.0341983 21.2492 0.140232C19.167 0.289748 17.0247 1.28103 14.9849 3.23937Z" fill="#9260AF" style="mix-blend-mode:darken"/>
                        </svg>
                    <p class="mensagem-coracao" id="mensagem-coracao">Listas</p>
                </div>
            </a>

            <div class="icone-chat">
                <svg width="34" height="34" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.005 28.665C22.5507 28.665 28.6677 22.548 28.6677 15.0021C28.6677 7.45634 22.5507 1.33928 15.005 1.33928C7.45923 1.33928 1.34221 7.45634 1.34221 15.0021C1.34221 17.8032 2.18514 20.4075 3.63117 22.575L1.34221 28.665L9.00329 27.2796C10.8149 28.167 12.8518 28.665 15.005 28.665Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.68152 15.0021C2.68152 8.19602 8.19892 2.67856 15.005 2.67856C21.811 2.67856 27.3284 8.19602 27.3284 15.0021C27.3284 21.8082 21.811 27.3257 15.005 27.3257C13.1086 27.3257 11.3157 26.8984 9.71412 26.1357C9.44341 25.9697 9.11302 25.8987 8.77599 25.9598L8.765 25.9617L3.42618 26.9271L4.88484 23.0462L4.88705 23.0404C5.05878 22.5833 4.96458 22.0917 4.68159 21.7352C3.41679 19.8004 2.68152 17.4891 2.68152 15.0021ZM15.005 30.0042C12.8024 30.0042 10.7075 29.5287 8.82022 28.6737L1.58054 29.9828C1.10621 30.0685 0.622373 29.8928 0.31366 29.5227C0.00494733 29.1525 -0.0810145 28.645 0.0885764 28.1937L2.1429 22.7282C0.784343 20.4707 0.00294836 17.826 0.00294836 15.0021C0.00294836 6.71669 6.71958 0 15.005 0C23.2904 0 30.007 6.71669 30.007 15.0021C30.007 23.2877 23.2904 30.0042 15.005 30.0042ZM9.1163 17.145C7.93284 17.145 6.97344 16.1856 6.97344 15.0021C6.97344 13.8186 7.93284 12.8592 9.1163 12.8592C10.2998 12.8592 11.2592 13.8186 11.2592 15.0021C11.2592 16.1856 10.2998 17.145 9.1163 17.145ZM17.152 15.0021C17.152 13.8186 16.1926 12.8592 15.0092 12.8592C13.8257 12.8592 12.8663 13.8186 12.8663 15.0021C12.8663 16.1856 13.8257 17.145 15.0092 17.145C16.1926 17.145 17.152 16.1856 17.152 15.0021ZM20.902 17.145C19.7186 17.145 18.7592 16.1856 18.7592 15.0021C18.7592 13.8186 19.7186 12.8592 20.902 12.8592C22.0855 12.8592 23.0448 13.8186 23.0448 15.0021C23.0448 16.1856 22.0855 17.145 20.902 17.145Z" fill="#9260AF" style="mix-blend-mode:darken"/>
                    </svg>
                <p class="mensagem-chat" id="mensagem-chat">Chat</p>
            </div>

            <a href="/perfil">
                <div class="icone-perfil">
                    <svg width="34" height="34" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.0063 28.6622C7.46207 28.6622 1.34624 22.5463 1.34624 15.0021C1.34624 7.45786 7.46207 1.34204 15.0063 1.34204C22.5505 1.34204 28.6664 7.45786 28.6664 15.0021C28.6664 22.5463 22.5505 28.6622 15.0063 28.6622Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0063 0.0027504C6.7224 0.0027504 0.00695801 6.71819 0.00695801 15.0021C0.00695801 23.286 6.7224 30.0015 15.0063 30.0015C23.2902 30.0015 30.0057 23.286 30.0057 15.0021C30.0057 6.71819 23.2902 0.0027504 15.0063 0.0027504ZM2.68553 15.0021C2.68553 8.19751 8.20172 2.68133 15.0063 2.68133C21.8108 2.68133 27.3271 8.19751 27.3271 15.0021C27.3271 18.653 25.7391 21.933 23.2163 24.1892C21.2508 21.8475 18.3021 20.3588 15.0058 20.3588C11.7097 20.3588 8.7612 21.8473 6.79579 24.1886C4.27324 21.9326 2.68553 18.6527 2.68553 15.0021ZM8.30948 12.3231C8.30948 8.6248 11.3076 5.6267 15.0059 5.6267C18.7042 5.6267 21.7023 8.6248 21.7023 12.3231C21.7023 16.0215 18.7042 19.0196 15.0059 19.0196C11.3076 19.0196 8.30948 16.0215 8.30948 12.3231Z" fill="#9260AF" style="mix-blend-mode:darken"/>
                        </svg>
                    <p class="mensagem-perfil" id="mensagem-perfil">Perfil</p>    
                </div>
            </a>      
        </div>
    </div>

    <div class="linha-branca"></div>
    <nav class="navegacao">
        <ul>
            <li><a href="#Categorias" style="color: white;" class="cat">Categorias</a></li>
            <li>
                <a href="#PrincipaisAutores" style="color: white;">Principais Autores</a>
                <ul class="dropdown">
                    <li><a href="#">Machado de Assis</a></li>
                    <li><a href="#">Clarice Lispector</a></li>
                    <li><a href="#">Jane Austen</a></li>
                    <li><a href="#">Dostoiévski</a></li>
                    <li><a href="#">Louisa M. Alcott</a></li>
                </ul>
            </li>
            <li><a href="#DicasDeLivros" style="color: white;">Dicas de Livros</a></li>
            <li><a href="#LivrosEmAlta" style="color: white;">Livros em Alta</a></li>
            <li><a href="#LivrosPorIdioma" style="color: white;">Livros por Idioma</a></li>
        </ul>
    </nav>
</header>